---
Checks: "bugprone-*,clang-analyzer-*,misc-*,performance-*,portability-*,readability-*,-readability-identifier-length,-portability-avoid-pragma-once,-bugprone-easily-swappable-parameters,-readability-implicit-bool-conversion"
WarningsAsErrors: '*'
